/*todo o tamanho da tela*/
.featured {
	height: 100vh;
}

.featured--vertical {
	width: inherit; /*herda o tamanho do cara anterior*/
	height: inherit;
	background: linear-gradient(
		to top,
		#111,
		transparent 90%
	); /*de baixo pra cima*/
}

.featured--horizontal {
	width: inherit; /*herda o tamanho do cara anterior*/
	height: inherit;
	background: linear-gradient(
		to right,
		#111 30%,
		transparent 70%
	); /*esquerda pra direita*/
}
