.movieRow {
	margin-bottom: 30px;
}

.movieRow h2 {
	margin: 0px 0px 0px 30px;
}

.movieRow--listarea {
	/*tudo que passar na horizontal da tela, vai ser cortado*/
	overflow-x: hidden;
	padding-left: 30px;
}

.movieRow--list {
	width: 999999px;
}

.movieRow--item {
	/*item fica ao lado do outro, cada filme*/
	display: inline-block;
	width: 150px;
	cursor: pointer;
}

.movieRow--item img {
	/*imagem ocupa espaço inteiro, no caso 150px*/
	width: 100%;
	/*css da img diminui pra 90%*/
	transform: scale(0.9);
	transition: all ease 0.2s;
}

.movieRow--item img:hover {
	transform: scale(1);
}
